{{#each this}}
<li class="item-of-list"><a href={{url}} target="_blank">{{title}}</a>
    <p><img src={{urlToImage}}
            style="display:block; margin-left:0; width: 400px; height: 300px; object-fit:cover; border:1px solid #B8B8B8;"
            alt='article {{title}}' )></p>
</li>
{{/each}}